/* App.css */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.note-card {
  width: 70%;
  max-width: 400px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note-card.active {
  display: block;
  z-index: 1;
}

.note-card.prev {
  display: block;
  transform: translate(calc(-100% - 10px), -50%);
  opacity: 0.5;
  z-index: 0;
}

.note-card.next {
  display: block;
  transform: translate(calc(100% + 10px), -50%);
  margin-left: -20%;
  opacity: 0.5;
  z-index: 0;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.note-cards-container {
  display: flex;
}

.carousel-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
  justify-items: center;
}

.grid-card {
  background-color: #f0f0f0; /* Replace with your desired color */
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
}

.menu-button {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff; /* Replace with your desired background color */
  color: #fff; /* Replace with your desired text color */
  border-radius: 6px;
  cursor: pointer;
}

.grid-layout .note-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column size as needed */
  grid-gap: 10px; /* Gap between grid items */
  margin-top: 20px;
  justify-items: center;
}

.grid-layout .note-card {
  width: 100%; /* Set the width to fill the entire grid cell */
  padding: 10px; /* Add padding to create space between cells */
  border: 1px solid #ddd; /* Add a border to cells for the spreadsheet-like appearance */
  font-size: 18px;
  text-align: center;
}